@charset "UTF-8";

body {
   min-height: 100vh;

    /* background-color: black;
    background-image: url("imagens/wallpaper002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    /*  Shorthand - background
        color > image > position > repeat > (size) > attachment */


    background: blue url("imagens/wallpaper002.jpg") center top no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    max-width: 450px;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 15px;
}

main h1 {
    text-align: center;
    text-decoration: underline;
    background-color: rgba(0, 0, 255, 0.253);
}

main p {
    text-align: justify;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}