@charset "UTF-8";

#container {
    height: 78vh;
    width: 80%;
    border: 10px solid black;
    padding: 10px;
    margin: auto;
    position: relative;
}

#conteudo {
    height: 50vh;
    width: 50%;
    border: 10px solid red;
    padding: 10px;
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#conteudo p {
    max-width: 100%; /* Usa toda a largura disponível */
}